<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="SHREDR BIKE BLOG">
  <meta name="author" content="George Everiss">

  <title>SHREDR BIKE</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <!-- Custom fonts -->
  <link href="  {{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles -->

  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="http://www.shredrblog.bike:80/">SHREDR BIKE</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://www.shredrblog.bike:80/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.shredrblog.bike:80/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.shredrblog.bike:80/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.shredrblog.bike:80/responses">Responses</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/whip.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm Brandon Fairmount a.k.a 'Brendog', I ride bikes downhill, fast, and do some freeride on the side.</p>
        <p>So yeah, it’s 2020 and I’ve just signed myself a few nice new deals for this year.

          I’m not on a team any more, I’ve signed a frame deal with Scott and got me some other sponsors.

          It’s given me a chance to get Juice Lubes on board, which I’m super excited about. I’ve got no excuse to have dirty bikes and squeaky chains now. It’s early days but I’m excited to see where we can go with that.</p>
        <p>I’m an old man now and I’ve been racing for ten years or so. I’ve always been on a team and always had a real good structure and been really lucky. You know, I’ve had some amazing teammates – the Minnaars and Sam Hills and whatever.

          I just wanted a change and wanted to do my own thing. I wanted to be my own boss and didn’t want anyone to tell me where to go and what I have to do… although all my sponsors do that to me anyway.

          So I’m kind of the ultimate free racer now. I’ve got my own sponsors and I can do what I want.

          I’m still really focusing on World Cup Downhill. I’m going to least do a couple more years of that as much as I can. I’m really desperate to get back in that top ten spot where I feel I belong and and just be in the mix again.

          This year I’ve got no team manager other than myself. So it all could go pretty badly tits up. Keep an eye out.</p>
      </div>
    </div>
  </div>

  <hr>
 <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://mobile.twitter.com/login">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; NO CONTENT IS OWNED BY AUTHOR OF THIS SITE: THIS IS A DEMO SITE INTENDED FOR PERSONAL USE ONLY</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts -->
  <script src="static/js/clean-blog.min.js"></script>

</body>

</html>
